<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to The New York Public Library!</title>
</head>
<style media="screen">
    html {
        font-family: sans-serif; /* 1 */
        line-height: 1.15; /* 2 */
        -ms-text-size-adjust: 100%; /* 3 */
        -webkit-text-size-adjust: 100%; /* 3 */
    }

    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 16px;
        font-weight: 400;
    }

    .welcome {
        background-color: #BB1D12;
        color: #FFF;
        font-family: Georgia, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
        padding: 1rem 0;
    }

    .welcome h1 {
        color: #FFF;
        font-weight: 100;
        margin-left: 7rem;
    }

    p {
        margin-left: 7rem;
        width: 50%;
    }

    div.footer {
        background-color: #54514a;
        color: #ffffff;
        font-size: .85rem;
        min-height: 4.5rem;
        padding: 2rem 0;
        position: relative;
    }

</style>

<blockquote>
{# @var data \NYPL\HoldRequestResultConsumer\Model\DataModel\HoldEmailData #}
<div class="edd">
    <h1 class="edd">Document Delivery System</h1>
</div>

<p>Dear {{ data.patronName }},</p>
<p>The recent request you placed for materials from off-site storage has been received. Please check your library account for updates. The item will be listed as Ready under your Holds tab when it is available. You will also receive an email confirmation after your item has arrived.
</p>



    <p> We kindly ask that you wait to call or e-mail the appropriate division until the expected arrival date has passed with no confirmation sent to you.</p>
<p> Title: {{ data.title }}<br/>
    Author: {{ data.author }}<br/>
    Barcode: {{ data.barcode }}<br/>
    Pickup Location: {{ data.pickupLocation }}<br/>
    Chapter Title: {{ data.docDeliveryData.chapterTitle }}<br/>
    Issue: {{ data.docDeliveryData.issue }}<br/>
    Volume: {{ data.docDeliveryData.volume }}<br/>
    Start Page: {{ data.docDeliveryData.startPage }}<br/>
    End Page: {{ data.docDeliveryData.endPage }}</p>
</body>
</html>
