<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to The New York Public Library!</title>
</head>
<style media="screen">
    html {
        font-family: sans-serif; /* 1 */
        line-height: 1.15; /* 2 */
        -ms-text-size-adjust: 100%; /* 3 */
        -webkit-text-size-adjust: 100%; /* 3 */
    }

    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 16px;
        font-weight: 400;
    }

    .welcome {
        background-color: #BB1D12;
        color: #FFF;
        font-family: Georgia, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
        padding: 1rem 0;
    }

    .welcome h1 {
        color: #FFF;
        font-weight: 100;
        margin-left: 7rem;
    }

    p {
        margin-left: 7rem;
        width: 50%;
    }

    div.footer {
        background-color: #54514a;
        color: #ffffff;
        font-size: .85rem;
        min-height: 4.5rem;
        padding: 2rem 0;
        position: relative;
    }

</style>

<body>
{# @var data \NYPL\HoldRequestResultConsumer\Model\DataModel\HoldEmailData #}
<div class="welcome">
    <h1 class="hold">Item Reserved</h1>
</div>

<p>Dear {{ data.patronName }},</p>
<p>Your item has successfully been reserved. Please allow up to 1 week for the item to arrive.</p>
<p><strong>Title</strong>: {{ data.title }}<br/>
    <strong>Author</strong>: {{ data.author }}<br/>
    <strong>Barcode</strong>: {{ data.barcode }}<br/>
    <strong>Pickup at</strong>: {{ data.pickupLocation }} or {{ data.deliveryLocation }}
</p>
<p>The New York Public Library</p>
</body>
</html>
