<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to The New York Public Library!</title>
</head>
<style media="screen">
    html {
        font-family: sans-serif; /* 1 */
        line-height: 1.15; /* 2 */
        -ms-text-size-adjust: 100%; /* 3 */
        -webkit-text-size-adjust: 100%; /* 3 */
    }

    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 16px;
        font-weight: 400;
    }

    .welcome {
        background-color: #BB1D12;
        color: #FFF;
        font-family: Georgia, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
        padding: 1rem 0;
    }

    .welcome h1 {
        color: #FFF;
        font-weight: 100;
        margin-left: 7rem;
    }

    p {
        margin-left: 7rem;
        width: 50%;
    }

    div.footer {
        background-color: #54514a;
        color: #ffffff;
        font-size: .85rem;
        min-height: 4.5rem;
        padding: 2rem 0;
        position: relative;
    }
</style>

<body>
{# @var data \NYPL\HoldRequestResultConsumer\Model\DataModel\HoldEmailData #}
<div class="welcome">
    <h1 class="hold">NYPL Off-Site Request Status Update</h1>
</div>

<p>Dear {{ data.patronName }},</p>

<p>We’ve received your request for a title from off-site storage. You’ll find the title you requested listed below, along with any other titles included with the item. Please log into your library account to check for updates. The item will be listed as "Ready for Pickup" under your Holds tab when it is available. You will also receive an email confirmation after your item has arrived.
</p>

<p>IN PROCESS</p>

<table>
    <thead>
        <th style="padding:1rem;">Request date</th>
        <th>Barcode</th>
        <th>Title</th>
        <th>Pickup Location</th>
    </thead>
    <tbody>
        <td style="padding-right: 3rem;">{{ data.requestDate }}&nbsp;</td>
        <td style="padding-right: 3rem;">{{ data.barcode }}</td>
        <td style="padding-right: 3rem;">
            <ul>
            {% for title in data.titles %}
                <li>{{ title }}</li>
            {% endfor %}
            </ul>
        </td>
        <td>{{ data.pickupLocation }}</td>
    </tbody>
</table>

<p>If you would like to cancel your request, or if you have questions, please <a href="https://gethelp.nypl.org/customer/portal/emails/new">email us</a> or call 917-ASK-NYPL (917-275-6975).
</p>

<p>The New York Public Library</p>
</body>
</html>
